/* HEADER */

.main-container {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap-padding);
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background-color: #121212;
    gap: 16px;
}

.header__navigation .header__navigation-search {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header__navigation .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
}

.arrow-left, .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: var(--text-base-dark);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: var(--text-none);
}

.header__login {
    display: flex;
    align-items: center;
    gap: 16px;
    text-wrap: nowrap;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #242424;
    border: 1px solid transparent;
    border-radius: 500px;
    padding: 0px 16px !important;
    gap: 10px;
    height: 48px;
    min-width: 50px;
    width: 100%;
}

.header__search img {
    width: 16px;
    height: 16px;
}

.header__search input {
    display: flex;
    background: transparent;
    border: none;
    color: #fff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header__login .subscribe {
    color: #a7a7a7;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
}

.header__login .login {
    width: 100px;
    height: 48px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}

.playlist {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    border-radius: 8px;
    padding: 45px 25px;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    gap: 30px;
}

.playlist .playlist__content {
    display: flex;
    flex-direction: column;
}

.playlist__content  .title {
    color: var(--text-base-light);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 50px;
}

.playlist__content  .subtitle {
    font-size: 24px;
}

.playlist__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 50vh;
    overflow-y: auto;
    gap: 16px;
}

/* width */
.playlist__cards::-webkit-scrollbar {
    width: 1px;
}

/* Track */
.playlist__cards::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.playlist__cards::-webkit-scrollbar-thumb {
    background: #fff;
}

.playlist__cards .card {
    position: relative;
    border-radius: 8px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    padding: 1rem;
    overflow: hidden;
}

.card .title {
    color: var(--text-base-light);
    font-size: 24px;
}

.card img {
    position: absolute;
    bottom: 0px;
    left: 120px;
    height: auto;
    width: 107px;
    transform: rotate(25deg);
}

.playlist__cards .card1 {
    background-color: var(--card1);
}

.playlist__cards .card2 {
    background-color: var(--card2);
}

.playlist__cards .card3 {
    background-color: var(--card3);
}

.playlist__cards .card4 {
    background-color: var(--card4);
}

.playlist__cards .card5 {
    background-color: var(--card5);
}

.playlist__cards .card6 {
    background-color: var(--card6);
}

.playlist__cards .card7 {
    background-color: var(--card7);
}

.playlist__cards .card8 {
    background-color: var(--card8);
}

.playlist__cards .card9 {
    background-color: var(--card9);
}

.playlist__cards .card10 {
    background-color: var(--card10);
}

.playlist__cards .card11 {
    background-color: var(--card11);
}

.playlist__cards .card12 {
    background-color: var(--card12);
}

.playlist__cards .card13 {
    background-color: var(--card13);
}

.playlist__cards .card14 {
    background-color: var(--card14);
}

.playlist__cards .card15 {
    background-color: var(--card15);
}

.hidden {
    display: none;
}

#result-artist {
    color: var(--text-base-light);
}
